@{
    string currentRoute = (string)ViewData["currentRoute"];
    string oldCasesLinkName = (string)ViewData["oldCasesLinkName"];
}

    <aside class="sidebar shadow-sm">
        <div class="custom-nav-logo-container">
            <div class="custom-nav-logo">
                <img src="~/Img/Logo-white.png" />
            </div>
        </div>
        <div class="custom-nav-item">
            <a class="custom-nav-link @(@currentRoute == "Home" ? "cnl-underline" : "")" asp-controller="Admin" asp-action="Home">Home</a>
        </div>
        <div class="custom-nav-item">
            <a class="custom-nav-link @(@currentRoute == "New" ? "cnl-underline" : "")" asp-controller="Admin" asp-action="GetNewCases">New</a>
        </div>
        <div class="custom-nav-item">
            <a class="custom-nav-link @(@currentRoute == @oldCasesLinkName ? "cnl-underline" : "")" asp-controller="Admin" asp-action="GetOldCases">@oldCasesLinkName</a>
        </div>
        <div class="custom-nav-item">
            <a class="custom-nav-link" asp-controller="Admin" asp-action="Logout">Log Out</a>
        </div>
    </aside>