@using Microsoft.AspNetCore.Identity
@using covid_testing_managagement_system.ViewModels;
@model AdminDashboardViewModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Admin Dashboard";
    ViewData["navName"] = "Admin";
    ViewData["oldCasesLinkName"] = "History";
    Layout = "~/Views/Shared/Dashboard/_LayoutDashboard.cshtml";

    ViewData["currentRoute"] = "History";
    string caseType = "Reviewed applications";

    if (Model.IsNewDoctors)
    {
        ViewData["currentRoute"] = "New";
        caseType = "New applications";
    }
}

<partial name="_PostLoginSidebarPartial.cshtml" view-data="@ViewData" />
<div class="body-inner-inner">
    <partial name="_PostLoginNavbarPartial.cshtml" view-data="@ViewData" />
    <main role="main" class="container-fluid px-3 pb-3 pt-5 main-allow-scroll">

        <div class="container max-width-2">
            <h4 class="text-secondary">@caseType</h4>
            @if (TempData[$"SuccessMessage"] != null)
            {
                <h6 class="text-success">@TempData[$"SuccessMessage"]</h6>
            }
            @if (TempData[$"ErrorMessage"] != null)
            {
                <h6 class="text-warning">@TempData[$"ErrorMessage"]</h6>
            }
            @foreach (Professional pro in Model.Professionals)
            {
                <div class="card mb-5">
                    <div class="card-body shadow">
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="d-flex flex-column">
                                <h5>Full name</h5>
                                <div>@pro.FirstName @pro.LastName</div>
                            </div>
                            <div class="d-flex flex-column">
                                <h5>Registration number</h5>
                                <div>@pro.RegistrationNumber</div>
                            </div>
                            <div class="d-flex flex-column">
                                <h5>Country</h5>
                                <div>@pro.Country</div>
                            </div>
                            <div class="d-flex flex-column">
                                <h5>Speciality</h5>
                                <div>@pro.Speciality</div>
                            </div>
                        </div>
                        @if (Model.IsNewDoctors)
                        {
                            <div class="d-flex justify-content-between pt-4">
                                <form asp-action="GrantDoctorAccess"
                                      asp-route-id="@pro.Id"
                                      asp-route-view="@Model.IsNewDoctors"
                                      method="post">
                                    <button type="submit" class="btn btn-success">Grant Access</button>
                                </form>
                                <form asp-action="RejectDoctorAccess"
                                      asp-route-id="@pro.Id"
                                      asp-route-view="@Model.IsNewDoctors"
                                      method="post">
                                    <button type="submit" class="btn bg-transparent border-danger text-danger">Reject Access</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

    </main>
</div>

@* <h1>Hi @UserManager.FindByEmailAsync(User.Identity.Name).Result.NormalizedEmail</h1> *@

@* @if (TempData[$"DashboardMessage"] != null)
    {
        <h4 class="text-secondary">@TempData[$"DashboardMessage"]</h4>
    } *@
@* <div class="row">
        @foreach (Professional professional in Model.Professionals)
        {
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <label>Full Name</label>
                        <p>@professional.FirstName</p>
                        <label>Registration Number</label>
                        <p>@professional.RegistrationNumber</p>
                        <label>Id Number</label>
                        <p>@professional.IdNumber</p>
                        <label>Country</label>
                        <p>@professional.Country</p>
                        <label>Speciality</label>
                        <p>@professional.Speciality</p>
                        @if (TempData[$"{professional.Id}Error"] != null)
                        {
                            <span class="text-danger">@TempData[$"{professional.Id}Error"]</span>
                        }
                        <form asp-action="GrantDoctorAccess"
                              asp-route-id="@professional.Id"
                              asp-route-view="@Model.IsNewDoctors"
                              method="post">
                            <button type="submit" class="btn btn-primary">Grant Access</button>
                        </form>
                        <form asp-action="RejectDoctorAccess"
                              asp-route-id="@professional.Id"
                              asp-route-view="@Model.IsNewDoctors"
                              method="post">
                            <button type="submit" class="btn btn-primary">Reject Access</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div> *@