@using covid_testing_managagement_system.ViewModels;
@model DoctorDashboardViewModel

@{
    ViewData["Title"] = "Doctor Dashboard";
    ViewData["navName"] = Model.ProfessionalName;
    ViewData["oldCasesLinkName"] = "Completed";
    Layout = "~/Views/Shared/Dashboard/_LayoutDashboard.cshtml";

    ViewData["currentRoute"] = "Completed";
    string caseType = "Completed cases";

    if (Model.IsNewPatients) {
        ViewData["currentRoute"] = "New";
        caseType = "New cases";
    }
}

<partial name="_PostLoginSidebarPartial.cshtml" view-data="@ViewData"/>
<div class="body-inner-inner">
    <partial name="_PostLoginNavbarPartial.cshtml" view-data="@ViewData"/>
    <main role="main" class="container-fluid px-3 pb-3 pt-5 main-allow-scroll">

        <div class="container max-width-2">
            <h4 class="text-secondary">@caseType</h4>
                @for (int i = 0; i < Model.Patients.Count(); i++)
                {
                    <div class="card mb-5">
                        <div class="card-body shadow">
                            <div class="d-flex flex-wrap justify-content-between">
                                <div class="d-flex flex-column">
                                    <h5>Full name</h5>
                                    <div>@Model.Patients[i].FirstName @Model.Patients[i].LastName</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h5>Sex</h5>
                                    <div>@(Model.Patients[i].Sex ? "Male" : "Female")</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h5>Age</h5>
                                    <div>@Model.Patients[i].Age</div>
                                </div>
                                <div class="d-flex flex-column">
                                    <h5>Status</h5>
                                    <div>
                                    @(
                                        Model.Interviews[i].Reviewed == false
                                        ? "NEW!"
                                        : Model.Interviews[i].Outcome == true
                                            ? "Recommended"
                                            : "Not recommended"
                                    )
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between pt-4">
                                <form asp-action="PatientReport" asp-route-id="@Model.Interviews[i].Id" method="get">
                                    <button type="submit" class="btn btn-primary">View Report</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
        </div>

    </main>
</div>

@* 
<div class="container">

    <h1>Dr. @Model.LastName</h1>

    @if (TempData[$"DashboardMessage"] != null)
    {
        <span class="text-success">@TempData[$"DashboardMessage"]</span>
    }
    <div class="row">
        @for (int i = 0; i < Model.Interviews.Count(); i++)
        {
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <label>Full Name</label>
                        <p>@Model.Patients[i].FirstName @Model.Patients[i].LastName</p>
                        <label>Sex</label>
                        <p>@Model.Patients[i].Sex.ToString()</p>
                        <label>Age</label>
                        <p>@Model.Patients[i].Age</p>
                        @if (TempData[$"{Model.Interviews[i].Id}Error"] != null)
                        {
                            <span class="text-danger">@TempData[$"{Model.Interviews[i].Id}Error"]</span>
                        }
                        <form asp-action="PatientReport " 
                              asp-route-id="@Model.Interviews[i].Id" 
                              method="post">
                            <button type="submit" class="btn btn-primary">View Report</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div> *@