@using covid_testing_managagement_system.ViewModels.Admin;
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="card flex-grow-1 max-width-1">
        <div class="card-body shadow-lg">
            <h3 class="card-title text-center py-3">Login</h3>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input">
                    <label asp-for="RememberMe" class="form-check-label">Remember me</label>
                </div>
                <div class="w-100 d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center pt-3">
    <div class="card flex-grow-1 max-width-1">
        <div class="card-body shadow-lg">
                <div class="w-100 d-flex align-items-center flex-column justify-content-center">
                    <div>Are you a healthcare professional?</div>
                    <a href="/admin/register">Create an account</a>
                </div>
        </div>
    </div>
</div>
