﻿@using covid_testing_managagement_system.Models.Infermedica.Request;
@model SymtomCheckerViewModel

@{
    ViewData["Title"] = "Symtom Checker - Patient Information";
}

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="card flex-grow-1 max-width-2">
        <div class="card-body shadow-lg">
            <h5 class="card-title">Patient info</h5>
            @using (Html.BeginForm("PatientInfo", "SymtomChecker", FormMethod.Post))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Request.Sex" class="control-label"></label>
                    <select asp-for="Request.Sex" class="form-control" asp-items="Html.GetEnumSelectList<InfermedicaRequest.Gender>()">
                        <option selected="selected" value="">Please select gender</option>
                    </select>
                    <span asp-validation-for="Request.Sex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Request.Age" class="control-label"></label>
                    <input asp-for="Request.Age" class="form-control" />
                    <span asp-validation-for="Request.Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Next" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

