﻿@using covid_testing_managagement_system.Models.Infermedica.Response;
@model TriageResponse

@{
    ViewData["Title"] = "Symtom Checker - Results";
}

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="jumbotron bg-white shadow-lg max-width-1">
        @if (
                 Model.TriageLevel == TriageResponse.TriageResponseLevel.call_doctor ||
                 Model.TriageLevel == TriageResponse.TriageResponseLevel.isolation_ambulance ||
                 Model.TriageLevel == TriageResponse.TriageResponseLevel.isolation_call
 )
        {
            <h3 class="result-description text-danger"><strong>@Model.Label</strong></h3>
        }
        else if (
            Model.TriageLevel == TriageResponse.TriageResponseLevel.self_monitoring ||
            Model.TriageLevel == TriageResponse.TriageResponseLevel.quarantine
        )
        {
            <h3 class="result-description text-warning"><strong>@Model.Label</strong></h3>
        }
        else
        {
            <h3 class="result-description text-success"><strong>@Model.Label</strong></h3>
        }

        <p class="result-text">
            @Model.Description
        </p>

        <hr />
        <h5 class="result-heading">Serious Symtoms</h5>
        <ul>
            @for (int i = 0; i < Model.Serious.Count; i++)
            {
                <li class="result-text">
                    @Model.Serious[i].Name (@Model.Serious[i].CommonName)
                </li>
            }
        </ul>

        @{
            if (
                 Model.TriageLevel == TriageResponse.TriageResponseLevel.call_doctor ||
                 Model.TriageLevel == TriageResponse.TriageResponseLevel.isolation_ambulance ||
                 Model.TriageLevel == TriageResponse.TriageResponseLevel.isolation_call
            )
            {
                <div class="d-flex justify-content-start pt-4">
                    <a class="btn btn-danger text-uppercase" asp-action="Apply">Apply for a testing recommendation!</a>
                </div>
            }
            else if (
                Model.TriageLevel == TriageResponse.TriageResponseLevel.self_monitoring ||
                Model.TriageLevel == TriageResponse.TriageResponseLevel.quarantine
            )
            {
                <div class="d-flex justify-content-start pt-4">
                    <a class="btn btn-warning text-uppercase" asp-action="Index" asp-controller="Home">Back to home</a>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-start pt-4">
                    <a class="btn btn-success text-uppercase" asp-action="Index" asp-controller="Home">Back to home</a>
                </div>
            }
        }
    </div>
</div>
