﻿@using covid_testing_managagement_system.Models.Infermedica.Request;
@using covid_testing_managagement_system.Models.Infermedica.Response;
@model Question

@{
    ViewData["Title"] = "Symtom Checker - Symtoms";
}

@* <div class="text-center">
    <h1>Symtoms</h1>
</div> *@

<div class="spacer"></div>
<div class="d-flex justify-content-center">
    <div class="card flex-grow-1 max-width-2">
        <div class="card-body shadow-lg">
            @* <h5 class="card-title">Symptoms</h5> *@
            @if (Model.Type != Question.QuestionType.group_single)
            {
                @using (Html.BeginForm("Symtoms", "SymtomChecker", FormMethod.Post))
                {
                    <h5 class="card-title">
                        @Model.Text
                        @if (Model.Explanation != null)
                        {
                            <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="@Model.Explanation"></span>
                        }
                    </h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(m => m.Type)
                    @Html.HiddenFor(m => m.Text)
                    @Html.HiddenFor(m => m.Explanation)
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <div class="form-check px-0 pb-1">
                            @Html.HiddenFor(m => m.Items[i].Id)
                            @Html.HiddenFor(m => m.Items[i].Name)
                            @Html.HiddenFor(m => m.Items[i].Explanation)
                            @Html.CheckBoxFor(b => b.Items[i].Choice, Model.Items[i].Id)
                            <label asp-for="@Model.Items[i]" class="form-check-label pl-3" for="defaultCheck1">
                                @Model.Items[i].Name
                            </label>
                            @if (Model.Items[i].Explanation != null)
                            {
                                <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="@Model.Items[i].Explanation"></span>
                            }
                        </div>
                    }
                    <hr />
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group">
                            <input type="button" value="Back" class="btn btn-light" onclick="goBack()">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Next" class="btn btn-primary"/>
                        </div>
                    </div>
                }
            }
            else
            {
                @using (Html.BeginForm("Symtoms", "SymtomChecker", FormMethod.Post))
                {
                    <h5 class="card-title">
                        @Model.Text
                        @if (Model.Explanation != null)
                        {
                            <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="@Model.Explanation"></span>
                        }
                    </h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(m => m.Type)
                    @Html.HiddenFor(m => m.Text)
                    @Html.HiddenFor(m => m.Explanation)
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        <div class="form-check px-0 pb-1">
                            @Html.HiddenFor(m => m.Items[i].Id)
                            @Html.HiddenFor(m => m.Items[i].Name)
                            @Html.HiddenFor(m => m.Items[i].Explanation)
                            @Html.CheckBoxFor(b => b.Items[i].Choice, new { @class = "checkboxone" })
                            <label asp-for="@Model.Items[i].Id" class="form-check-label pl-3">
                                @Model.Items[i].Name

                            </label>
                            @if (Model.Items[i].Explanation != null)
                            {
                                <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="@Model.Items[i].Explanation"></span>
                            }
                        </div>
                    }
                    <hr />
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group">
                            <input type="button" value="Back" class="btn btn-light" onclick="goBack()">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Next" class="btn btn-primary"/>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@* @if (Model.Type != Question.QuestionType.group_single)
{
    @using (Html.BeginForm("Symtoms", "SymtomChecker", FormMethod.Post))
    {
        <h4>
            @Model.Text
            @if (Model.Explanation != null)
            {
                <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="@Model.Explanation"></span>
            }
        </h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(m => m.Type)
        @Html.HiddenFor(m => m.Text)
        @Html.HiddenFor(m => m.Explanation)
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <div class="form-check">
                @Html.HiddenFor(m => m.Items[i].Id)
                @Html.HiddenFor(m => m.Items[i].Name)
                @Html.HiddenFor(m => m.Items[i].Explanation)
                @Html.CheckBoxFor(b => b.Items[i].Choice, Model.Items[i].Id)
                <label asp-for="@Model.Items[i]" class="form-check-label" for="defaultCheck1">
                    @Model.Items[i].Name
                </label>
                @if (Model.Items[i].Explanation != null)
                {
                    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="@Model.Items[i].Explanation"></span>
                }
            </div>
        }
        <div class="form-row">
            <div class="col">
                <div class="form-group mt-4" align="left">
                    <input type="button" value="Back" class="btn btn-info" onclick="goBack()">
                </div>
            </div>
            <div class="col">
                <div class="form-group mt-4" align="right">
                    <input type="submit" value="Next" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}
else
{
    @using (Html.BeginForm("Symtoms", "SymtomChecker", FormMethod.Post))
    {
        <h4>
            @Model.Text
            @if (Model.Explanation != null)
            {
                <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="@Model.Explanation"></span>
            }
        </h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(m => m.Type)
        @Html.HiddenFor(m => m.Text)
        @Html.HiddenFor(m => m.Explanation)
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <div class="form-check">
                @Html.HiddenFor(m => m.Items[i].Id)
                @Html.HiddenFor(m => m.Items[i].Name)
                @Html.HiddenFor(m => m.Items[i].Explanation)
                @Html.CheckBoxFor(b => b.Items[i].Choice, new { @class = "checkboxone" })
                <label asp-for="@Model.Items[i].Id" class="form-check-label">
                    @Model.Items[i].Name

                </label>
                @if (Model.Items[i].Explanation != null)
                {
                    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="@Model.Items[i].Explanation"></span>
                }
            </div>
        }
        <div class="form-row">
            <div class="col">
                <div class="form-group mt-4" align="left">
                    <input type="button" value="Back" class="btn btn-info" onclick="goBack()">
                </div>
            </div>
            <div class="col">
                <div class="form-group mt-4" align="right">
                    <input type="submit" value="Next" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
} *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
