﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.body-inner {
  display: flex;
  width: 100vw;
}

.sidebar {
  width: 280px;
  height: 100vh;
  background-color: #4B1211;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.body-inner-inner {
  width: calc(100vw - 280px);
}

.custom-nav {
  width: 100%;
  height: 140px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-nav-logo-container {
  padding: 27px 27px 0 27px;
}

.custom-nav-logo {
  border-bottom: 1px solid #774C4C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 22px 0;
}

.custom-nav-logo-img {
  filter: brightness(100) grayscale(100%);
}

.custom-nav-item {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-nav-link {
  color: white;
  width: 60%;
  text-align: left;
  padding: 0 0 10px 0;
}

.cnl-underline {
  border-bottom: 1px solid #774C4C;
}

.custom-nav-link:hover {
  color: white;
  text-decoration: none;
}

.main-allow-scroll {
  height: calc(100vh - 140px);
  overflow: auto;
}

.max-width-1 {
  max-width: 575.98px;
}

.max-width-2 {
  max-width: 767.98px;
}

.max-width-3 {
  max-width: 991.98px;
}

.max-width-4 {
  max-width: 1199.98px;
}

.spacer {
  width: 100%;
  min-height: 10vh;
  visibility: hidden;
}

/* Text Button*/
.btn-text:link,
.btn-text:visited {
    color: #4B1110;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}


.btn-text:hover {
    color: #D6D6D6;
    background-color: #4B1110;
    transform: translateY(-1rem);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

.btn-text:active {
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    transform: translateY(-0.5rem);
}

.btn-text span {
    margin-left: 0.5rem;
}

/* navbar*/
.navbar-white {
    box-shadow: 0.4rem 0.4rem 3rem rgba(0,0,0,0.1);
}

/* Results*/

.result-description {
    font-weight: 400;
}

.result-description-danger {
    color: red;
}

.result-description-danger {
    color: orange;
}

.result-heading {
    font-weight: 400;
    color: #4B1110;
}

.result-text {
    color: #919294;
}
